/* Example theme stylesheet. Adds a hover animation to buttons and changes the global font. */

* {
    font-family: 'Comic Sans MS' !important;
}

.ux_button {
    transition: 0.3s transform;
}

.ux_button:hover {
    transform: scale(1.2);
}